@font-face {
	font-family: Gerbera;
	src: url(../fonts/Gerbera.ttf) format("truetype");
	font-size: normal;
	font-weight: normal;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Gerbera, sans-serif;
}

/*Определяет ширину и внешние отступы данных классов*/
.default-container {
	width: 888px;
	margin: 0 auto;
}

/*Первая часть страницы с темной полосой и картикной*/
.header {
	height: 384px;
	width: 100%;
	background-image: url(../img/Hero.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*Темная полоса с логотипом и выбором города*/
.top-menu {
	height: 72px;
	width: 100%;
	background-color: rgba(40, 50, 60, 0.8);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
}

.top-menu-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*Логотип ренесанс-здоровье*/
.top-menu-logo {
	cursor: pointer;
}

.top-menu-select-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*Выбор города*/
.top-menu-select {
	border: none;
	outline: none;
	cursor: pointer;
	background: none;
	color: #B5BDC8;
	font-family: Gerbera, sans-serif;
	font-size: 16px;
	width: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	appearance: none;
}
/*Цвет слов в выпадающем списке*/
.top-menu-select option {
	color: black;
}
/*Замена стрелочки по умолчанию у селектора*/
.top-menu-select-arrow {
	color: white;
}

/*Картинка с телефоном + заголовки с кнопкой*/
.hero {
	color: white;
}

.hero-title {
	font-size: 34px;
	line-height: 48px;
	margin-top: 48px;
}

.hero-description {
	width: 506px;
	margin-top: 24px;
	font-size: 16px;
	line-height: 24px;
}

/*Кнопка "Выбрать пакет"*/
.click-suite {
	margin-top: 48px;
	background-color: #50287D;
	height: 48px;
	border-radius: 24px;
	color: white;
	width: 300px;
	font-family: Gerbera, sans-serif;
	font-size: 16px;
	border: none;
	transition: font-size .5s;
	cursor: pointer;
}

.click-suite:hover {
	font-size: 20px;
	transition: font-size 1s;
}

/*Main*/

/*Маркетинговый лозунг с пояснением*/
.main {
	margin-top: 72px;
}
.slogan-title {
	color: #28323C;
	font-size: 34px;
	line-height: 48px;
}

.slogan-description {
	width: 560px;
	line-height: 24px;
	margin-top: 48px;
	font-size: 16px;
	color: #78828C;
}

/*Секцтя с тарифами*/
.pricing {
	font-size: 16px;
	margin-top: 120px;
	line-height: 24px;
}

.pricing ul {
	list-style-image:url(../img/galochka.png)
}

/*Блок с кнопками*/
.pricing-months {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #F3F5F7;
	border-radius: 36px;
	height: 72px;
	width: 496px;
	flex-grow: 1;
}

/*Кнопки с выбором месяца*/
.pricing-months button {
	background-color: transparent;
	font-family: Gerbera, sans-serif;
	font-size: 16px;
	border: none;
}

.pricing-months-one {
	width: 139px;
	margin: 5px auto;
	border-radius: 36px 0 0 36px;
}

.pricing-months-three {
	width: 150px;
}

.pricing-months-twelve {
	width: 160px;
	margin: 5px auto;
	border-radius: 0 36px 36px 0;
}

.pricing-months button:focus {
	background-color: white;
	height: 62px;
	border: 3px solid #00D2FF;
	box-shadow: 0px 4px 6px rgba(26, 65, 101, 0.15);
	border-radius: 31px;
}

/*Тарифы*/
.pricing-tarif {
	display: flex;
	height: 432px;
	margin: 24px auto 0;
}
/*Блок без кнопки*/
.tarif-container {
	margin: 24px 24px 0;
	height: 340px;
}

/*Стилизация всех тарифов*/
.pricing-tarif article {
	width: 280px;
	border: 1px solid #E6F0FA;
	margin: 0 auto;
}

.pricing-tarif-basic-title,
.pricing-tarif-advanced-title,
.pricing-tarif-full-title {
	color: #96A0AA;
}

/*Самый популярный-слоган базового тарифа*/
.pricing-tarif-basic-slogan {
	display: inline-block;
	margin-left: 35px;
	border-radius: 12px;
	width: 124px;
	height: 24px;
	font-size: 11px;
	color: white;
	background-color: #FCC8BE;
	background-size: cover;
}

/*Названия тарифов*/
.pricing-tarif-advanced-title,
.pricing-tarif-full-title {
	color: #96A0AA;
}

/*Цена тарифов*/
.pricing-tarif-basic-price,
.pricing-tarif-advanced-price,
.pricing-tarif-full-price {
	color: #28323C;
	font-size: 34px;
	line-height: 72px;
}

/*Стилизация списков для всех тарифов*/
.pricing-tarif ul {
	list-style-position: outside;
	line-height: 24px;
	margin-left: 24px;
}

/*Стилизация элементов списка для всех тарифов*/
.pricing-tarif ul li {
	margin-bottom: 24px;
}

/*Стилизация кнопки для всех тарифов*/
.pricing-tarif button {
	font-family: Gerbera, sans-serif;
	background-color: transparent;
	font-size: 16px;
	color: #50287D;
	border: none;
	cursor: pointer;
}

.pricing-tarif button:focus {
	background-color: #50287D;
	justify-self: center;
	height: 14%;
	width: 97%;
	color: white;
	text-align: left;
	padding-left: 20px;
	border-radius: 2px;
	margin-left: 4px;
}
